<?xml version="1.0"?>
<config>
    <modules>
        <YSRTech_M2api>
            <version>0.1.0</version>
        </YSRTech_M2api>
    </modules>

    <global>
        <models>
            <ysrtech_m2api>
                <class>YSRTech_M2api_Model</class>
            </ysrtech_m2api>
        </models>
        <helpers>
            <ysrtech_m2api>
                <class>YSRTech_M2api_Helper</class>
            </ysrtech_m2api>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <ysrtech_m2api>
                        <class>ysrtech_m2api/observer</class>
                        <method>initCustomRouter</method>
                    </ysrtech_m2api>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>

    <frontend>
        <routers>
            <ysrtech_m2api>
                <use>standard</use>
                <args>
                    <module>YSRTech_M2api</module>
                    <frontName>ysrtech_m2api</frontName>
                </args>
            </ysrtech_m2api>
        </routers>
    </frontend>
</config>
